.store-detail-wrapper{
    padding: 20px 150px 20px 150px;
}
.store-img-container > img{
    width: 600px;
    height: 450px;
    border-radius: 10px;
}

.box-detail1-posting{
    display: flex;
    align-items: center;
}
/*가게이름*/
.store-name-posting{
    font-size: 30px;
    margin-right: 5px;
    float: left;
}
/* 별점 */
.star-score-posting{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.star-score-posting > p{
    margin-right: 10px;
}
.star-score-posting > img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/* 리뷰 */
.review-posting{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.review-posting > img{
    height: 15px;
    width: 15px;
    margin-left: 3px;
}


.box-detail2-posting{
    border-top: 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
}

/* 최소주문금액 */
.free-posting{
    display: flex;
    align-items: center;
}
.free-posting > img{
    height: 20px;
    width: 20px;
    margin-right: 7px;
}
.free-name{
    color: mediumturquoise;
}
.free-posting > p{
    margin-right: 10px;
}

/* 배달시간 */
.delivery-class{
    display: flex;
    align-items: center;
}
.delivery-class > img{
    height: 20px;
    width: 20px;
    margin-right: 7px;
}
.delivery-name{
    color: deepskyblue;
}
.delivery-class > p{
    margin-right: 10px;
}

/* 인기메뉴 */
.star-menu-class{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.star-menu-class > img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.star-menu-class > p{
    font-size: 25px;
}

/* 메뉴리스트 */
.store-menulist-box{
    display: flex;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid #D2D2D2;
    justify-content: space-between; /*양끝정렬*/
    padding: 0px 40px;
}
.menu-name-posting{
    padding:20px;
    width: 600px;
}

/* 메뉴이름 */
.menu-name{
    display: flex;
    align-items: center;
    height: 20px;
}
.menu-name > img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.menu-name > p{
    font-size: 23px;
}

/* 메뉴설명 */
.menu-comment{
    font-size: 20px;
    color: #A4A4A4;
    margin-left: 23px;
}
/* 메뉴가격 */
.menu-price{
    font-size: 23px;
    margin-left: 23px;
}

/* 메뉴사진 */
.menu-img-posting{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.menu-img-posting > img{
    border: 1px solid #A4A4A4;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/*plus*/
.menu-plus-posting a img{
    height: 40px;
    width: 40px;
}